<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div class="content">
    <h1>Registrace uživatele</h1>
    <form action="/register" method="POST" id="registrationForm" th:object="${user}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> <!-- CSRF token -->
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>

        <label for="firstName">Jméno:</label>
        <input type="text" id="firstName"  th:field="*{firstName}" required>

        <label for="lastName">Příjmení:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required>

        <label for="email">E-mail:</label>
        <input type="email" id="email" th:field="*{email}" required>

        <label for="password">Heslo:</label>
        <input type="password" id="password" th:field="*{passwordHash}" required>

        <label for="address">Addreess</label>
        <input type="text" id="address" th:field="*{address.address}">

        <label for="country">Zeme</label>
        <input type="text" id="country" th:field="*{address.country}" >

        <label for="ZIP">ZIP</label>
        <input type="text" maxlength="5" id="ZIP" th:field="*{address.ZIP}" >

        <button type="submit">Registrovat</button>
    </form>
</div>

</body>
</html>
